<nav>
    <div class="Nav-head">
        <a href="/blogs"><h1>BLOGS.com</h1></a>
        <h2>A Blog Creation Website</h2>
    </div>
    <ul>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Blogs</a></li>
    </ul>
</nav>