<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')  %>

    <body>
        <%- include('./partials/navbar.ejs')  %>

        <div class="About-Content">
            <h1>About US</h1>
            <p>Flibberwocky zindlefrat sporklequash wumblenood traskaroo!</p>
            <p>Glumpfadoo zizzlewump frotterblix snorflingoo blibberdash!</p>
            <p>Zibberflonk grizzlewump clatterfroop wibbletack snoozleblip!</p>
        </div>

        <%- include('./partials/footer.ejs')  %>
    </body>
</html>